<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label>Salud</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Deportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Calculadora</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
