<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Salud </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let noti of arrayNews">
    <img
      [src]="noti.img"
      alt=""
    />
    <ion-card-header>
      <ion-card-subtitle>{{noti.subTitle}}
        </ion-card-subtitle
      >
      <ion-card-title
        >  {{noti.title}} </ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
     {{noti.bodyNew}}
    </ion-card-content>
  </ion-card>
</ion-content>
