

.display{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(255,255,255,0.8);
    background: rgba(0,0,0,.6);
    font-size: 35px;
    padding: 10px;
    text-align: right;
    border-radius: 2px;
    box-shadow: inset 0 5px 8px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.3);
    margin-bottom: 5px; 
}


.btn-numbers{
    width: 30px;
    height: 55px;
    margin: 2px;
    background-color: #c3c3c3;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}


.btn-oper{
    width: 30px;
    height: 55px;
    margin: 2px;
    background-color: #cf8414;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}