<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col class="display">
        {{display}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="btn-numbers" (click)="fnNumbers(7)">
       7
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(8)">
        8
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(9)">
       9
      </ion-col>
      <ion-col class="btn-oper" (click)="operation('/')">
       /
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="btn-numbers" (click)="fnNumbers(4)">
       4
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(5)">
        5
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(6)">
       6
      </ion-col>
      <ion-col class="btn-oper" (click)="operation('x')">
       x
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="btn-numbers" (click)="fnNumbers(1)">
       1
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(2)">
        2
      </ion-col>
      <ion-col class="btn-numbers" (click)="fnNumbers(3)">
       3
      </ion-col>
      <ion-col class="btn-oper" (click)="operation('-')">
       -
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col  class="btn-numbers" (click)="fnNumbers(0)">
       0
      </ion-col>
      <ion-col class="btn-oper" (click)="clear()">
        C
      </ion-col>
      <ion-col class="btn-oper" (click)="equal()">
        =
      </ion-col>
      <ion-col class="btn-oper" (click)="operation('+')">
       +
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
